{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <legend class="border-bottom mb-4">Dashboard</legend>
        <div class="jumbotron jumbotron-fluid">
            <div class="container pl-5">
                <h1 class="display-4">Welcome {{ userType }}!</h1>
                <p class="lead">The central hub of the app. Keep your functionality nice and organized.</p>
            </div>
        </div>
        <legend class="border-bottom mb-4" style="padding-left: 20%">{{ userType }} Functionality</legend>
        <div class="row justify-content-center">
            {% if userType == 'User' %}
                <div class="list-group col-md-6">
                    <a href="{{ url_for('explore_theater', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Explore Theater</a>
                    <a href="{{ url_for('visit_history', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Visit History</a>
                    <br>
                </div>
            {% elif userType == 'Customer' %}
                <div class="list-group col-md-6">
                    <a href="{{ url_for('explore_movie', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Explore Movie</a>
                    <a href="{{ url_for('view_history', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">View History</a>
                    <a href="{{ url_for('explore_theater', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Explore Theater</a>
                    <a href="{{ url_for('visit_history', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Visit History</a>
                    <br>
                </div>
            {% elif userType == 'Manager' %}
                <div class="list-group col-md-6">
                    {% if theaterMng %}
                        <a href="{{ url_for('theater_overview', userType=userType, username=username, theaterMng=theaterMng) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Theater Overview</a>
                        <a href="{{ url_for('schedule_movie', userType=userType, username=username, theaterMng=theaterMng) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Schedule Movie</a>
                    {% endif %}
                    <a href="{{ url_for('explore_theater', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Explore Theater</a>
                    <a href="{{ url_for('visit_history', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Visit History</a>
                    <br>
                </div>
            {% elif userType == 'Manager-Customer' %}
                <div class="list-group col-md-6">
                    {% if theaterMng %}
                        <a href="{{ url_for('theater_overview', userType=userType, username=username, theaterMng=theaterMng) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Theater Overview</a>
                        <a href="{{ url_for('schedule_movie', userType=userType, username=username, theaterMng=theaterMng) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Schedule Movie</a>
                    {% endif %}                    
                    <a href="{{ url_for('explore_movie', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Explore Movie</a>
                    <a href="{{ url_for('view_history', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">View History</a>
                    <a href="{{ url_for('explore_theater', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Explore Theater</a>
                    <a href="{{ url_for('visit_history', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Visit History</a>
                    <br>
            </div>
            {% elif userType == 'Admin' %}
                <div class="list-group col-md-6">
                    <a href="{{ url_for('manage_user', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Manage User</a>
                    <a href="{{ url_for('manage_company', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Manage Company</a>
                    <a href="{{ url_for('create_movie', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Create Movie</a>
                    <a href="{{ url_for('explore_theater', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Explore Theater</a>
                    <a href="{{ url_for('visit_history', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Visit History</a>
                    <br>
                </div>
            {% elif userType == 'Admin-Customer' %}
                <div class="list-group col-md-6">
                    <a href="{{ url_for('manage_user', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Manage User</a>
                    <a href="{{ url_for('manage_company', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Manage Company</a>
                    <a href="{{ url_for('create_movie', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Create Movie</a>
                    <a href="{{ url_for('explore_movie', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Explore Movie</a>
                    <a href="{{ url_for('view_history', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">View History</a>
                    <a href="{{ url_for('explore_theater', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Explore Theater</a>
                    <a href="{{ url_for('visit_history', userType=userType, username=username) }}" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Visit History</a>
                    <br>
                </div>
            {% endif %}
        </div>
        <br>
        {% if userType == 'Customer' or userType == 'Manager-Customer' or userType == 'Admin-Customer'%}
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <legend class="border-bottom mb-4" style="padding-left: 20%">Payment Information</legend>
                <fieldset class="form-group">
                    <br>
                    <div class="container col-md-12">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                {{ form.credit_card.label(class="form-control-label") }}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <ul class="list-group col-md-6">
                                {% for cc in creditCards %}
                                    <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">
                                        {{ cc }}
                                        <a class="btn btn-danger" href="{{ url_for('remove_cc', credit_card=cc, userType=userType, username=username) }}">Delete</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="form-group col-md-5 pl-0">
                                {% if form.credit_card.errors %}
                                    {{ form.credit_card(class="form-control form-control-lg is-invalid") }}
                                    <div style="color:red">
                                        {% for error in form.credit_card.errors %}
                                        <span style="font-size:13px">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.credit_card(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-1 pl-1">
                                {{ form.addCC(class="btn btn-lg btn-outline-success") }}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        {% else %}
        {% endif %}
    </div>

{% endblock %}