{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <legend class="border-bottom mb-4">Register Navigation</legend>
        <div class="row justify-content-center">
            <div class="list-group col-md-3">
                <a href="/user_registration" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">User Only</a>
                <a href="/customer_registration" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Customer Only</a>
                <a href="/manager_registration" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Manager Only</a>
                <a href="/manager_customer_registration" class="list-group-item list-group-item-action list-group-item-dark text-center" style="font-size:20px">Manager-Customer</a>
                <a href="/" class="list-group-item list-group-item-action list-group-item-light text-center" style="font-size:15px">Back</a>
                <br>
            </div>
        </div>
    </div>

{% endblock %}